* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #475F45;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    height: 100vh;
}

.title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
}

.nav__list {
    justify-content: space-between;
    display: flex;
    margin-left: 150px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    font-family: 'Roboto';
}

.logo {
    display: flex;
}

.hero__img {
    border: 4px solid #343D33;
    border-radius: 500px 500px 0px 0px;
    padding: 5px;
    margin-left: 150px;
}

.hero__content {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex: none;
}

.btn {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid #475F45;
    padding: 10px 30px;
    background: #475F45;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    font-family: 'Roboto';
}

.header__content {
    display: flex;
}

.nav__item {
    margin-left: 30px;
}

.nav__item--border {
    border: 2px solid #475F45;
    margin-top: -11px;
    align-items: center;
    padding: 10px 30px;
}

.main {
    padding: 14px;
}

.hero__desc {
    padding: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
}

.logo__text {
    margin-top: 12px;
    margin-left: 23px;
}

.about__section {
    background: #343D33;
}

.about__top-pic {
    width: 534px;
    height: 354px;
    left: 179px;
    top: 1015px;
}

.about__botton-img {
    width: 1040px;
    height: 409px;
    left: 179px;
    top: 1449px;
}

.about__top {
    display: flex;
    color: white;
}

.about__column-about__desc {
    padding: 89px;
}

.container__about-container {
    padding: 96px 169px;
}

.btn__btn--white {
    border: 2px solid #FFFFFF;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    font-family: 'Roboto';
}

.about__info {
    padding: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.btr {
    border: 2px solid #475F45;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    font-family: 'Roboto';
}

.newz__img {
    width: 520px;
    height: 333px;
    left: 0px;
    top: 0px;
}

.newx__img {
    width: 236px;
    height: 151px;
    left: 0px;
    top: 0px;
}

.newt__img {
    width: 236px;
    height: 151px;
    left: 0px;
    top: 0px;
}

.newy__img {
    width: 236px;
    height: 151px;
    left: 0px;
    top: 0px;
}

.logo__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
}

.logo__subtitle {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.news__item-text {
    font-family: 'Libre Baskerville';
    padding-top: 12px;
}

.news__item-title {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 23px;
    line-height: 110%;
    color: #475F45;
}

.news__item-date {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer {
    background: #414840;
    color: white;
}

.footer__nav-link {
    color: white;
}

.container-footer__container {
    display: flex;
    padding: 116px 140px;
}

.footer__bottom {
    background: #343D33;
    padding: 21px 30px;
    text-align: center;
}

.footer__column {
    margin-left: 150px;
}

.footer__nav-item {
    padding: 10px;
}

.footer__info {
    padding-top: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.social__list {
    display: flex;
    padding-top: 20px;
}

.footer__subtitle {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}

.news__content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.news__link {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    margin-left: 200px;
}

.subtitle-news__subtitle {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
}

.twitter {
    background-image: url(../img/icon/twitter.svg);
}

.fb {
    background-image: url(../img/icon/facebook.svg);
}

.in {
    background-image: url(../img/icon/linkedin.svg);
}

.mail {
    background-image: url(../img/icon/mail.svg);
}

.newz__item {
    display: flex;
}

.newt__item {
    display: flex;
}

.newy__item {
    display: flex;
}

.news__list {
    margin-left: 74px;
}

.news__item-desc {
    margin-left: 35px;
}

.news__item-desk {
    margin-top: 20px;
}

.news__item-date {
    margin-top: 12px;
}

.social__item {
    width: 30px;
    height: 30px;
    margin-right: 35px;
    font-size: 0;
}

.social__link {
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__social-item:last-child {
    margin-right: 0;
}